.container {
  @media @mobile {
    max-width: 400px;
  }
}

.home {

  .welcome {
    margin: 15px 0;
    border-bottom: @dash-line
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      display: flex;
      flex-direction: column;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
      }      
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
      }  

      img {
        border-radius: 10px;

        
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: @dash-line;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
      border-bottom: @dash-line;
      margin: 5px;
    }  

    img {
      border-radius: 10px;

      @media @mobile {
        margin: 0 0 30px;

      }
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: @dash-line;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      width: 350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      border: none;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
       width: 350px;
       display: flex;
       flex-direction: column;
      }

      .btn {
        .button();
        .displayFlex(center, center);
        margin-bottom: 10px;

        @media @mobile {
          width: 100%;
          padding: 15px;
        }
      }
    }
  }
}// home